<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<th:block th:replace="fragments/risorse :: risorse-head"></th:block>
<title>Categories</title>
</head>
<body>
	<nav th:replace="fragments/navbar :: navbar('ingredienti')"></nav>
	<div class="container">
		<h1>I nostri ingredienti</h1>
		<hr />
		<div class="col-6">
		<!-- Inizio della Form -->
			<form 
				id="form-ingrdienti" 
				th:object="${newIngredienti}"
				th:action="@{/save}" 
				method="POST">
				
				<div class="input-group mb-3 has-validation">
					<input th:field="*{name}" type="text" class="form-control"
						placeholder="Add a ingredients" aria-label="Add a ingredients"
						aria-describedby="category-button" th:errorClass="is-invalid">
					<button class="btn btn-primary" type="submit" id="ingredients-button">Save</button>
					<div th:if="${#fields.hasErrors('name')}" class="invalid-feedback">
						<ul>
							<li th:each="err : ${#fields.errors('name')}" th:text="${err}">
						</ul>
					</div>		
				</div>
				
			</form>
			<!--  fine della form -->
			<!--  inizio della lista  -->
			<ul class="list-group" th:if="${ingredienti.size() > 0}">
				<li class="list-group-item" th:each="cat : ${ingredienti}">
					<span th:text="${i.name}"></span>
					<span 
						class="badge rounded-pill text-bg-info" 
						th:text="${i.pizza.size()}" 
					</span>					
				</li>
			</ul>
			<!-- se la lista è vuota -->
			<div class="alert alert-info my-5"
				th:unless="${ingredienti.size() > 0}">
				<h3>There are no ingredients yet</h3>
			</div>
			<!--  fine della lista -->
		</div>
	</div>

	
</body>
</html>